.main-wrapper {
    background: #000000 url(../img/background.png) no-repeat center top / cover;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #fff;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.basic-container {
    max-width: 1060px;
    margin: 0 auto;
}

.main-header {
    padding-top: 49px;
}

.header-logo {
    width: 170px;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
}

.logo-img {
    float: left;
    width: 46px;
    height: 44px;
    position: relative;
    overflow: hidden;
}

.logo-img img {
    line-height: normal;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo-text {
    float: left;
    margin-left: 14px;
}

.logo-text_big {
    display: block;
    font-size: 29px;
    margin-left: -1px;
}

.logo-text_small {
    display: block;
    font-size: 18px;
    line-height: 16px;
}

.header-logo:hover {
    background-position: 0 -74px;
    color: #f26522;
}

.header-logo:hover .logo-img img {
    top: 0;
}


.header-contacts {
    float: right;
    margin-top: 6px;
    text-align: right;
    font-size: 18px;
}

.header-contacts_email,
.header-contacts_tel {
    display: block;
}

.header-contacts_tel {
    margin-top: 3px;
}

.services-list {
    margin-top: 48px;
}

.item-container {
    display: block;
    width: 100%;
}

.img-container {
    width: 100%;
    position: relative;
}

.services-item {
    position: relative;
    float: left;
    margin-right: 68px;
}

.services-item:nth-child(3n) {
    margin-right: 0;
}

.services-title {
    text-align: center;
    margin: 22px 0 62px;
    font-size: 18px;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) 300ms;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) 300ms;
    background: #f26522;
}

.services-item:hover .overlay {
    height: 32%;
}

.services-item:hover .services-title {
    color: #f26522;
}

.services-price {
    display: inline-block;;
    width: 38px;
    font-size: 10px;
    padding: 17px 0 17px 21px;
}

.price-value {
    font-size: 20px;
}

.services-link {
    float: right;
    font-size: 14px;
    padding: 35px 40px 17px 0;
}

.services-link::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 10px;
    background: url(../img/Arrow.png) no-repeat;
    margin-left: 15px;
    margin-top: 3px;
}

.copyright {
    font-size: 12px;
    text-align: center;
    padding-bottom: 12px;
}








